.desk{
    background-color: silver;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &_actives{
        border: 2px solid gold;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        &_user{
            border:2px solid crimson;
            display: grid;
            justify-content: center;
            align-items: center;
            &_container{
                border:2px solid white;
                height: 370px;
                width: 300px;
                display: flex;
                flex-direction: column;
                padding: 10px;
                overflow: scroll;
                row-gap: 5px;
                &::-webkit-scrollbar {
                    display: none;
                }
                &_message_left{
                    background-color: rgb(249, 249, 125);
                    height: fit-content;
                    width: fit-content;
                    padding: 3px;
                    border-radius: 5px;
                    max-width: 90%;
                }
                &_message_right{
                    background-color: whitesmoke;
                    height: fit-content;
                    width: fit-content;
                    padding: 3px;
                    display: flex;
                    align-self: flex-end;
                    border-radius: 5px;
                    max-width: 90%;
                }
            }
        }
    }
}