.desk{
    background-color: silver;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../public/desk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    &_actives{
        //border: 2px solid gold;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        column-gap: 10px;
        &_user{
            border:2px solid white;
            display: grid;
            justify-content: center;
            align-items: center;
            //background-image: url("../public/background.jpg");
            border-radius: 10px;
            position: relative;
            &_container{
                //border:2px solid white;
                height: 370px;
                width: 300px;
                display: flex;
                flex-direction: column;
                padding: 10px;
                overflow: scroll;
                row-gap: 5px;
                &::-webkit-scrollbar {
                    display: none;
                }
                &_message_left{
                    background-color: rgb(249, 249, 125);
                    height: fit-content;
                    width: fit-content;
                    padding: 3px;
                    border-radius: 5px;
                    max-width: 90%;
                }
                &_message_right{
                    background-color: whitesmoke;
                    height: fit-content;
                    width: fit-content;
                    padding: 3px;
                    display: flex;
                    align-self: flex-end;
                    border-radius: 5px;
                    max-width: 90%;
                }
            }
            &_sender{
                //border:1px solid crimson;
                width: 90%;
                position: absolute;
                left: 5%;
                bottom: 10px;
                height: 30px;
                border-radius: 30px;
                background-color: whitesmoke;
                display: grid;
                align-items: center;
                color: black;
                
                input{
                    border: none;
                    width: 100%;
                    background: transparent;
                    //font-size: 20px;
                    padding-left: 10px;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
}