.home{
    background-color: rgb(118, 21, 37);
    position: relative;
    &_skeleton{
        height: 100vh;
        max-height: 800px;
        border: 2px solid black;
        background-image: url("/skl.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: grid;
        justify-content: center;
        align-items: start;
        &_heart{
            position: absolute;
            top:17%;
            left:50%;
        }
        &_helpdesk{
            position: fixed;
            bottom: 3%;
            right:2%;
        }
    }
    &_chatbox{
        position: fixed;
        bottom: 200px;
        right: 20px;
        width: 300px;
        height: 420px;
        border: 2px solid rgb(211, 209, 209);
        background-color: black;
        border-radius: 15px;
        background-image: url("../public/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        &_message_container{
            //border: 2px solid white;
            height: 370px;
            width: 300px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            overflow: scroll;
            row-gap: 5px;
            &::-webkit-scrollbar {
                display: none;
              }
            &_message_left{
                background-color: rgb(249, 249, 125);
                height: fit-content;
                width: fit-content;
                padding: 3px;
                border-radius: 5px;
                max-width: 90%;
            }
            &_message_right{
                background-color: whitesmoke;
                height: fit-content;
                width: fit-content;
                padding: 3px;
                display: flex;
                align-self: flex-end;
                border-radius: 5px;
                max-width: 90%;
            }
        }
        
        &_sender{
            //border:1px solid crimson;
            width: 90%;
            position: absolute;
            left: 5%;
            bottom: 10px;
            height: 30px;
            border-radius: 30px;
            background-color: whitesmoke;
            display: grid;
            align-items: center;
            color: black;
            
            input{
                border: none;
                width: 100%;
                background: transparent;
                //font-size: 20px;
                padding-left: 10px;
                &:focus{
                    outline: none;
                }
            }
        }
    }
}