.home{
    background-color: rgb(230, 227, 227);
    &_skeleton{
        height: 100vh;
        max-height: 800px;
        border: 2px solid black;
        background-image: url("/sk.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

    }
}