.home {
  scrollbar-color: red yellow;
  position: relative;
}
.home_skeleton {
  height: 100vh;
  max-height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: start;
}
.home_skeleton_heart {
  position: absolute;
  top: 140px;
  width: 500px;
  aspect-ratio: 3/2;
  background-image: url("../public/dental.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home_skeleton_helpdesk {
  position: fixed;
  bottom: 3%;
  right: 2%;
  cursor: pointer;
}
.home_servicedetails {
  position: absolute;
  left: 370px;
  top: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 21px;
  text-align: justify;
  display: grid;
  row-gap: 20px;
}
.home_chatbox {
  position: fixed;
  bottom: 200px;
  right: 20px;
  width: 300px;
  height: 420px;
  border: 3px solid rgb(211, 209, 209);
  background-color: black;
  border-radius: 15px;
  background-image: url("../public/metal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.home_chatbox_message_container {
  height: 370px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: scroll;
  row-gap: 5px;
}
.home_chatbox_message_container::-webkit-scrollbar {
  display: none;
}
.home_chatbox_message_container_message_left {
  background-color: white;
  border: 2px solid black;
  color: black;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  border-radius: 5px;
  max-width: 90%;
}
.home_chatbox_message_container_message_right {
  background-color: black;
  border: 2px solid white;
  color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  display: flex;
  align-self: flex-end;
  border-radius: 5px;
  max-width: 90%;
}
.home_chatbox_sender {
  width: 90%;
  position: absolute;
  left: 5%;
  bottom: 10px;
  height: 30px;
  border-radius: 30px;
  background-color: whitesmoke;
  display: grid;
  align-items: center;
  color: black;
}
.home_chatbox_sender input {
  border: none;
  width: 100%;
  background: transparent;
  padding-left: 10px;
}
.home_chatbox_sender input:focus {
  outline: none;
}
.home_happy {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 5px;
}
.home_happy div {
  display: grid;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  border: 3px solid white;
}
.home_happy_left {
  border: 2px solid red;
  width: 25vw;
  aspect-ratio: 3/2;
}
.home_happy_central {
  border: 3px solid black;
  width: 50vw;
  aspect-ratio: 3/2;
}
.home_happy_right {
  border: 2px solid red;
  width: 25vw;
  aspect-ratio: 3/2;
}

#clause {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#clause #logo {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
#clause #text {
  width: 55vw;
  color: rgb(241, 236, 236);
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
}/*# sourceMappingURL=Home.module.css.map */