.home{
    scrollbar-color: red yellow;
    position: relative;
    &_skeleton{
        height: 100vh;
        max-height: 800px;
        //background-image: url("/skl.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: flex;
        align-items: start;
        &_heart{
            position: absolute;
            top:130px;
            width: 500px;
            left: -50px;
            aspect-ratio: 3/2;
            //border: 2px solid black;
            background-image: url("../public/tooth.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        &_helpdesk{
            position: fixed;
            bottom: 3%;
            right:2%;
            cursor: pointer;
            h2{
                color: black;
                animation: shine 0.5s infinite;
            }
        }
    }
    &_servicedetails{
        position: absolute;
        left:370px;
        top: 140px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 21px;
        text-align: justify;
        display: grid;
        row-gap: 20px;
    }
    &_chatbox{
        position: fixed;
        bottom: 200px;
        right: 20px;
        width: 300px;
        height: 420px;
        border: 1px solid rgb(55, 54, 54);
        background-color: black;
        border-radius: 15px;
        //background-image: url("../public/metal.jpg");
        background-color: #FDD263;
        background-repeat: no-repeat;
        background-size: cover;
        &_message_container{
            //border: 2px solid white;
            height: 370px;
            width: 300px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            overflow: scroll;
            row-gap: 5px;
            &::-webkit-scrollbar {
                display: none;
              }
            &_message_left{
                background-color: white;
                border: 2px solid black;
                color: black;
                height: fit-content;
                width: fit-content;
                padding: 3px;
                border-radius: 5px;
                max-width: 90%;
            }
            &_message_right{
                background-color: black;
                border: 2px solid white;
                color: white;
                height: fit-content;
                width: fit-content;
                padding: 3px;
                display: flex;
                align-self: flex-end;
                border-radius: 5px;
                max-width: 90%;
            }
        }
        
        &_sender{
            //border:1px solid crimson;
            width: 90%;
            position: absolute;
            left: 5%;
            bottom: 10px;
            height: 30px;
            border-radius: 30px;
            background-color: whitesmoke;
            display: grid;
            align-items: center;
            color: black;
            
            input{
                border: none;
                width: 100%;
                background: transparent;
                //font-size: 20px;
                padding-left: 10px;
                &:focus{
                    outline: none;
                }
            }
        }
    }
    &_happy{
        display: flex;
        align-items: center;
        padding: 5px;
        padding-bottom: 90px;
        height: 600px;
        position: relative;
        //border: 2px solid black;
        overflow: hidden;
        div{
            display: grid;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 30px;
            //border: 3px solid white;
            box-shadow: 0px 0px 8px 2px white;
        }
        &_right{
                //border: 2px solid red;
                width: 25vw;
                aspect-ratio: 3/2;
                position: absolute;
                left: 74vw;
                animation: first_to_end 9s infinite; 
        }
        &_central{
            //border: 3px solid black;
            width: 50vw;
            aspect-ratio: 3/2;
            position: absolute;
            animation: shrink 9s infinite;
            left:25vw;
            
        }
        &_left{
            width: 25vw;
            aspect-ratio: 3/2;
            position: absolute;
            animation: from_left_to_right 9s infinite;
        }
    }
}

#clause{
    //border: 3px solid black;
    display: flex;
    column-gap: 10px;
    width: 50vw;
    #logo{
        width: 40px;
        height: 40px;
        //border: 2px solid red;
        background-repeat: no-repeat;
        background-size: contain;
    }
    #text{
        width: 55vw;
        color: rgb(241, 236, 236);
        color: black;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        align-items: center;
    }
}

@keyframes shrink {
    0%{
        left:25vw;
        width: 50vw;
        z-index: 999;
    }
    33%{
        left:0vw;
        width: 25vw
    }
    51%{
        left:74vw;
        width: 25vw;
    }
    66%{
        left:74vw;
        width: 25vw;
    }
    100%{
        width: 50vw;
        left: 25vw;
        z-index: 999 !important;
    }

}


@keyframes first_to_end {
    0%{
        width: 25vw;
        left: 74vw;
        z-index: 9999999;
    }
    33%{
        z-index: 9999;
        width: 50vw;
        left: 25vw;
        z-index: 9999999;
    }
    66%{
        width: 25vw;
        left: 0;
        z-index: 1 !important;
    }
    84%{
        width: 25vw;
        left: 74vw;
    }
    100%{
        width: 25vw;
        left: 74vw;
    }
}

@keyframes from_left_to_right {
    0%{
        left:0;
        width: 25vw;
        z-index: 1 !important;
    }
    18%{
        left:74vw;
        width: 25vw;
        z-index: 1 !important;
    }
    33%{
        left:74vw;
        width: 25vw;
        z-index: 1 !important;
    }
    66%{
        width: 50vw;
        left: 25vw;
    }
    100%{
        left:0;
        width: 25vw;
    }
}


@keyframes shine {
    from{
        text-shadow: 0px 0px gold;
    }
    to{
        text-shadow: 2px 2px gold;
    }
}