.navbar{
    //border:2px solid crimson;
    position: fixed;
    top:50px;
    left: 35vw;
    display: grid;
    row-gap: 20px;
    &_brace{
        background: transparent;
        border: 3px solid white;
        cursor:pointer;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: fit-content;
        span{
            background-repeat: no-repeat;
            background-size: contain;
            background-position:center;
            width: 140px;
            height: 70px;
        }
        &:hover{
            animation: blink 0.7s infinite;
        }
    }
}

@keyframes blink {
    from{
        border: 3px solid white;
    }
    to{
        border: 3px solid silver;
    }
}